<nav class="nav">
    <h1> <a routerLink="/">E-commerce</a></h1>
    <div *ngIf="menutype!=='seller' " class="nav-search">
        <input type="text"#searchinput placeholder="Search products"(keyup)="searchproduct($event)"(blur)="hideSearch()">
        <button (click)="submitsearch(searchinput.value)" class="search" >Search</button>
        <ul class="sugesstedsearch"*ngIf="searchresult">
            <li *ngFor="let item of searchresult">
                <a (mousedown)="redirecttodetails(item.id)" >{{item.name}}</a>
            </li>
        </ul>
    </div>

    <div [ngSwitch]="menutype"> 
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="sellerauth"> Seller</a></li>
        <li><a routerLink=""> Home</a></li>
        <li><a  routerLink="user-auth"> login/sign-up</a></li>
        <li><i [routerLink]="cartitems>0?'cart-page':null" class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;<a  style="color: blue;">{{cartitems}}</a></li>
    </ul>

    <ul *ngSwitchCase="'seller'">
        <li><a routerLink="selleradd">Add product</a></li>
        <li><a routerLink="sellerhome"> List</a></li>
        <li><a style="cursor: pointer;color:blue;"  (click)="logout()"> logout</a></li>
        <li><a style="color: goldenrod;" >welcome {{sellername|titlecase}}</a></li>  <!---to make first letter capital title case-->
    </ul>

    <ul *ngSwitchCase="'user'">
        <li><a routerLink="sellerauth"> Seller</a></li>
        <li><a routerLink=""> Home</a></li>
        <li><a style="color: green;" >welcome {{username |titlecase}}</a></li> 
        <li><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;<a routerLink="cart-page" style="color: blue;">{{cartitems}}</a></li>
        <li><a (click)="userlogout()"  style="cursor: pointer;color:blue;" > logout</a></li>
    </ul>
</div>
</nav>
