<div class="add-product">
<h1>Add new product</h1>
<p style="color:green;text-align: center;"> {{addproductmessage}}</p>
<form #addproduct="ngForm"class="common-form"(ngSubmit)="submit(addproduct.value);addproduct.reset()">
    <input type="text"class="form-input"placeholder="Enter product name"name="name"ngModel>
    <input type="number"class="form-input"placeholder="Enter product price "name="price"ngModel>
    <input type="text"class="form-input"placeholder="Enter product category "name="category"ngModel>
    <input type="text"class="form-input"placeholder="Enter product color "name="color"ngModel>
    <textarea type="text"class="form-input"placeholder="Enter product description "name="description"ngModel></textarea>
    <input type="text"class="form-input"placeholder="Enter product image url "name="image"ngModel>
    <button class="form-button">Add Product</button>
</form>
</div>