<div class="row product-details" *ngIf="productdata">
<div class="col-sm-6">
    <img class="product-img"  src="{{productdata.image}}"alt="">
</div>
<div class="col-sm-6">
    <div class="details">
      <h1>{{productdata.name|titlecase}}</h1>
      <h3>{{productdata.price| currency: 'INR':'symbol':'1.0-0'}}</h3>
     <div>Color:<h3 [style.backgroundColor]="productdata.color"class="product-color"></h3>{{productdata.color|titlecase}}</div> 
     <!-- <div>color:<h3 [style.backgroundColor]="productdata.color"class="product-color"></h3></div>   -->
     <h6>category:{{productdata.category}}</h6>
      <h6>Description:{{productdata.description}}</h6>
      <button class="btn btn-primary">Buy Now</button>&nbsp;
      <button *ngIf="!removecart" class="btn btn-success"(click)="addtocart()" >Add to cart</button>
      <button *ngIf="removecart" class="btn btn-dark"(click)="removetocart(productdata.id)" >Remove Cart</button>
      <div class="quantity-group">
          <button (click)="handlequantity('min')" class="btn btn-warning"><strong>-</strong></button>
          <input style="height: 38px;text-align: center;" text="text" value="{{productquantity}}">
          <button (click)="handlequantity('max')"class="btn btn-warning"><strong>+</strong></button>
          <!-- <p style="color: red;" *ngIf="this.productquantity>19">Maximum product reached</p> -->
         <p *ngIf="this.productquantity>4" style="color: red;">{{quantityreached}} </p> 
      </div>
    </div>
</div>
</div>