<div class="productlist">
    <h1>Product list</h1>
<h2 style="color:green;">{{productmessage }}</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Color</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productlist">
            <td><img style="width:120px;" src="{{item.image}}">  </td>
            <td>{{item.name|titlecase}}</td>
            <td> ₹{{item.price}}</td>
            <td>{{item.color|titlecase}}</td>
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td><i (click)="deleteuser(item.id)"style="color:red" class="fa fa-trash" aria-hidden="true"></i>&nbsp;
            <i routerLink="/sellerupdate/{{item.id}}"  style="color:blue" class="fa fa-edit" aria-hidden="true"></i></td>
       
        </tr>

    </tbody>
</table>

</div>

