<div class="user-auth">
<div *ngIf="!showlogin" class="sign-up">
    <h1>
        User signup
    </h1>
   
    <form class="common-form" #usersignup="ngForm"(ngSubmit)="signup(usersignup.value)">
    <input class="form-input" type="text"name="name"placeholder="Enter user name"ngModel #name="ngModel"required  >
    <p class="err" *ngIf="name.invalid && name.touched">please enter a valid email id</p>
   
    <input class="form-input" type="email"name="email"placeholder="Enter user email"ngModel #email="ngModel"required  >
     <p class="err" *ngIf="email.invalid && email.touched">please enter a valid email id</p>
   
     <input class="form-input" type="password"name="password"placeholder="Enter user password"ngModel minlength="4"  ngModel #password="ngModel"required>
       <p class="err" *ngIf="password.invalid && password.touched">please enter valid password</p>  
    <button [disabled]="usersignup.invalid" class="form-button ">Sign up</button>
    <p class="clickhere">Already have Account?<a style="color: blue;"(click)="openlogin()">click here</a></p>
    </form>
</div>

<div *ngIf="showlogin" class="login">
    <h1>
        User Login
    </h1>
    <p style="color: red;text-align: center;"> {{autherror}}</p>
    <form class="common-form" #userlogin="ngForm"(ngSubmit)="login(userlogin.value)">

    <input class="form-input" type="email"name="email"placeholder="Enter user email"ngModel #email="ngModel"required >
    <p class="err" *ngIf="email.invalid && email.touched">please enter a valid email id</p>
    <input class="form-input" type="password"name="password"placeholder="Enter user password"minlength="4"  ngModel #password="ngModel"required  >
    <p class="err" *ngIf="password.invalid && password.touched">please enter valid password</p>   
    <button [disabled]="userlogin.invalid" class="form-button ">Login</button>
    <p class="clickhere">Dont have Account?<a style="color: blue;" (click)="opensignup()">click here</a></p>
    </form>
</div>
</div>