<div clas="cart-page">
     <h1>Cart Page</h1>
     <div class="row">
        <div class="col-sm-8 details">
       <ul *ngFor="let cart of cartdata">
        <li><img src="{{cart.image}}" alt="">  </li>
        <li>
            <span>{{cart.name|titlecase}}</span>
        </li>
        <li>
            <span>Price:{{cart.fullprice| number}}</span>
        </li>
        <li>
            <span>Quantity:{{cart.quantity}}</span>
        </li>
        <li>
            <button (click)="delete(cart.id)" class="btn btn-danger">Remove to cart</button>
        </li>
       </ul>

      
        </div>

        <div class="col-sm-4 summary">
            <h3>Summary</h3>
            <ul >
                <li><span>Amount:</span> <span>{{pricesummary.price| number}}</span> </li>
                <li><span>Tax:</span> <span>{{pricesummary.tax| number}}</span> </li>
                <li><span>Dilevery:</span> <span>{{pricesummary.dilevery}}</span> </li>
                <li><span>Discount:</span> <span>-{{pricesummary.discount| number}}</span> </li>
                <li><span><h4>Total: </h4></span> <span><h4>{{pricesummary.total| number}}</h4></span> </li>
            </ul>
        </div>

     </div>
</div>
