<div class="row search-item" *ngFor="let item of searchresults">
  <div class="col-sm-3">
    <a routerLink="/details/{{item.id}}"> <img src="{{item.image}}" alt=""> </a>
  </div>

  <div class="col-sm-8 details">
      <h6 routerLink="/details/{{item.id}}"style="pointer:cursor;">{{item.name|titlecase}}</h6>
      <p><b>Price:{{item.price| currency: 'INR':'symbol':'1.0-0'}}</b></p>
      <p><span>Color:{{item.color}}</span><span>Category:Mobile</span></p>
      <p>{{item.description}}</p>
  </div>
</div>

<div *ngIf="searchresults?.length==0">
    
  <h1 style="text-align: center;margin-top: 10px;"> No product found !!! </h1>  
</div> 
